*,
*::before,
*::after {
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
}

html {
  max-height: none;
}

#form {
  padding: 8px;
  display: grid;
  grid-row-gap: 8px;
}

#config {
  min-height: 400px;
  padding: 8px;
  resize: vertical;
  white-space: pre;
}
